@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --red: #d01c28;
  --gray: #2e232e;
}

.container {
  margin-bottom: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0 72px;


}

button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1290px;
  /* margin: 0 auto; */
  height: 72px;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 24px;

}


.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
  gap: 20px;
}

.hero h1 {
  font-weight: 100px;
  line-height: -1;
  font-size: 52px;
}

.hero p {
  font-weight: 400px;
  color: var(--gray);
}

.hero-btn {
  display: flex;
  gap: 40px;
}

.brand-icons {
  display: flex;
  gap: 20px;
}